pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre code span {
 margin: 0 2px;
}

pre {
  font-family: 'Roboto Mono', monospace;
  padding: 1.5em;
  margin: 1.5em 0;
  border-radius: 6px;
  line-height: 1.8;
 }
 
 pre code {
  letter-spacing: 0.5px;
 }
 
